# Compiler files
blockchain/cache/
blockchain/out/

# Ignores development broadcast logs
!/blockchain/broadcast
/blockchain/broadcast/*/31337/
/blockchain/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
blockchain/.env
blockchain/node_modules


# Frontend
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# next.js
frontend/.next/
frontent/out/

# production
frontent/build

# misc
.DS_Store
*.pem

# debug
frontend/npm-debug.log*
frontentd/yarn-debug.log*
frontend/yarn-error.log*

# local env files
frontent/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# vercel
frontend/.vercel

.env
